@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* required for alpinejs x-cloak attribute to work */
[x-cloak] {
  display: none !important;
}

.file-upload .active {
  /* When files dragged over */
  /* @apply shadow-outline-blue border-blue-300; */
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

.player__container {
  display: grid;
  grid-template-rows: 1fr max-content 0.5fr;
  gap: 1rem;
  min-height: 100vh;
}

.player__meta {
  grid-row: 2 / 3;
}

.player__controls {
  grid-row: 3 / 4;
}
